/* #region Header ==================================================== */
.header-page {
  background-color: #fff;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-style-accent {
  color: #2e2f42;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.item-nav-list {
}
.item-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-nav-link.extra {
  position: relative;
  color: #404bbf;
}

.item-nav-link:hover,
.item-nav-link:focus,
.item-nav-link.extra:hover {
  color: #404bbf;
}

.item-nav-link.extra::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-adr {
  font-style: normal;
  margin-left: auto;
}
.header-adr-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.item-adr-list {
}
.item-adr-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-adr-link:hover,
.item-adr-link:focus {
  color: #404bbf;
}
/* #endregion Header ==================================================== */

/* #region Section Hero ==================================================== */
.section-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px auto;
  max-width: 496px;
}
.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion Section Hero ==================================================== */

/* #region Section Advantages ==================================================== */
.section-advantages {
  background-color: #ffffff;
}
.section-advantages .section-title {
}
.section-advantages .section-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}
.section-advantages .item-list {
  width: calc((100% - 72px) / 4);
}
.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-advantages .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.box-icons-adv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.icons-adv {
}
/* #endregion Section Advantages ==================================================== */

/* #region Section Team ==================================================== */
.section-team {
  background-color: #f4f4fd;
}
.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-team .section-list {
  display: flex;
  gap: 24px;
  background-color: #f4f4fd;
}
.section-team .item-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-team .img-item-list {
}
.section-team .title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-team .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.container-team {
  padding: 32px 0;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icons-item {
  width: 40px;
  height: 40px;
}

.social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #404bbf;
}

.social-icons {
  fill: #f4f4fd;
}
/* #endregion Section Team ==================================================== */

/* #region Section Portfolio ==================================================== */
.section-portfolio {
  background-color: #ffffff;
}
.section-portfolio .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-portfolio .section-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-portfolio .item-list {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio .item-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio .item-list:hover .our-app-text {
  transform: translateY(0%);
}

.section-portfolio .img-item-list {
}
.section-portfolio .title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.section-portfolio .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.our-app-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion Section Portfolio ==================================================== */

/* #region Section Footer ==================================================== */
.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-page .logo-style {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-page .logo-style-accent {
  color: #f4f4fd;
}
.footer-page .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-page .container {
  display: flex;
  align-items: baseline;
}

.footer-contetnt {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-page .footer-social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
  max-width: 208px;
}

.footer-social-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-icons-item {
  width: 40px;
  height: 40px;
}

.footer-social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
  background-color: #31d0aa;
}

.footer-social-icons {
  fill: #f4f4fd;
}

.footer-form-cont {
  margin-left: 0;
}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.label-subscribe-form {
}

.input-subscribe-form {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.btn-footer-form {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
}

.input-subscribe-form::placeholder {
  color: #ffffff;
}

.icons-btn {
  fill: #ffffff;
  margin-left: 16px;
}
/* #endregion Section Footer ==================================================== */

/* #region Section Modal ==================================================== */
.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont.is-open {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icons-modal-cl {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form-modal {
}

.form-modal-cont {
  margin-bottom: 8px;
}

.form-modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-modal-input-cont {
  position: relative;
}

.form-modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus {
  border-color: #4d5ae5;
}

.form-modal-input-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus + .form-modal-input-icons {
  fill: #4d5ae5;
}

.form-modal-textarea {
  margin-bottom: 16px;
}

.form-modal-input-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-modal-input-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-conteiner {
  margin-bottom: 24px;
}

.checkbox {
}

.checkbox:checked + .checkbox-label .custom-checkbox-privacy-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox-privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox-icons {
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.btn-modal-send {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

/* #endregion Section Modal ==================================================== */
/* _EV_ */
