body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* #region Header ==================================================== */

@media screen and (max-width: 767.98px) {
  .header-nav-list,
  .header-adr-list {
    display: none;
  }
}

.header-page {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
  display: flex;
  justify-content: space-between;
}

.menu-mobile-btn {
  background-color: transparent;
  border: none;
  fill: #2f2f37;
  padding: 0px;
  line-height: 0;
}

.logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-style-accent {
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .header-page {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-style {
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .menu-mobile-btn {
    display: none;
  }

  .item-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-nav-link.extra {
    position: relative;
    color: #404bbf;
  }

  .item-nav-link:hover,
  .item-nav-link:focus,
  .item-nav-link.extra:hover {
    color: #404bbf;
  }

  .item-nav-link.extra::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-adr {
    font-style: normal;
    margin-left: auto;
  }

  .header-adr-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .item-adr-list {
  }

  .item-adr-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-adr-link:hover,
  .item-adr-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .item-adr-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-adr-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo-style {
    margin-right: 76px;
  }
}

/* #endregion Header ==================================================== */

/* #region Section Hero ==================================================== */
.section-hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

@media (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile@2x.jpg);
    background-position: center;
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
  max-width: 216px;
}
.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
    max-width: 496px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet@2x.jpg);
    background-position: center;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop.jpg);
  }
  .main-title {
    margin: 0 auto 48px auto;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop@2x.jpg);
    background-position: center;
  }
}

/* #endregion Section Hero ==================================================== */

/* #region Section Advantages ==================================================== */
.section-advantages {
  background-color: #ffffff;
}
.section-advantages .section-title {
}
.section-advantages .section-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.section-advantages .item-list {
}
.title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.section-advantages .text-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.box-icons-adv {
  display: none;
}

.icons-adv {
}

@media screen and (min-width: 768px) {
  .section-advantages .section-list {
    flex-wrap: wrap;
    flex-direction: initial;
    gap: 0;
    column-gap: 24px;
    row-gap: 48px;
  }
  .section-advantages .item-list {
    width: calc((100% - 32px) / 2);
  }
  .title-list {
    text-align: left;
  }
  .section-advantages .text-list {
  }
}

@media screen and (min-width: 1158px) {
  .section-advantages .section-list {
    flex-direction: row;
  }
  .section-advantages .item-list {
    width: calc((100% - 72px) / 4);
  }
  .title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .section-advantages .text-list {
    font-weight: 400;
  }
  .box-icons-adv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
}
/* #endregion Section Advantages ==================================================== */

/* #region Section Team ==================================================== */
.section-team {
  background-color: #f4f4fd;
}
.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-team .section-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
  background-color: #f4f4fd;
}
.section-team .item-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-team .img-item-list {
}
.section-team .title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-team .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.container-team {
  padding: 32px 0;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icons-item {
  width: 40px;
  height: 40px;
}

.social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #404bbf;
}

.social-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .section-team .section-list {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: initial;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
}
/* #endregion Section Team ==================================================== */

/* #region Section Portfolio ==================================================== */
.section-portfolio {
  background-color: #ffffff;
}
.section-portfolio .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-portfolio .section-list {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 48px;
}
.section-portfolio .item-list {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio .item-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio .item-list:hover .our-app-text {
  transform: translateY(0%);
}

.section-portfolio .img-item-list {
}

.section-portfolio .title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.section-portfolio .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.our-app-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-portfolio .section-list {
    flex-wrap: wrap;
    flex-direction: initial;
    align-items: flex-start;
    column-gap: 24px;
  }
  .section-portfolio .item-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio .item-list {
    width: calc((100% - 48px) / 3);
  }
  .our-app-text {
    display: initial;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* #endregion Section Portfolio ==================================================== */

/* #region Section Footer ==================================================== */
.footer-page {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-page .logo-style {
  display: flex;
  justify-content: center;
  margin-bottom: 17.5px;
}
.footer-page .logo-style-accent {
  color: #f4f4fd;
}
.footer-page .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.footer-page .container {
}

.footer-contetnt {
}

.footer-social {
}

.footer-page .footer-social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  max-width: 208px;
}

.footer-social-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-social-icons-item {
  width: 40px;
  height: 40px;
}

.footer-social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
  background-color: #31d0aa;
}

.footer-social-icons {
  fill: #f4f4fd;
}

.footer-form-cont {
  margin-left: 0;
}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.label-subscribe-form {
}

.input-subscribe-form {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.3;
}

.btn-footer-form {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
}

.input-subscribe-form::placeholder {
  color: #ffffff;
}

.icons-btn {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-page .logo-style {
    display: inline-block;
  }

  .footer-page .text {
    max-width: 264px;
    margin-bottom: 72px;
  }

  .footer-page .footer-social .text {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .footer-contetnt {
  }

  .footer-social {
  }

  .footer-page .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 584px;
  }

  .form-text {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .input-subscribe-form {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-page {
    padding: 100px 0;
  }

  .footer-contetnt {
    margin-right: 120px;
  }

  .footer-page .text {
    margin-bottom: 0;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-page .container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    column-gap: 0;
    max-width: 1158px;
  }

  .footer-social-icons-list {
    margin-bottom: 0;
  }

  .input-subscribe-form {
    opacity: 1;
  }
}
/* #endregion Section Footer ==================================================== */

/* #region Section Modal ==================================================== */
.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-cont.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icons-modal-cl {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form-modal {
}

.form-modal-cont {
  margin-bottom: 8px;
}

.form-modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-modal-input-cont {
  position: relative;
}

.form-modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus {
  border-color: #4d5ae5;
}

.form-modal-input-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus + .form-modal-input-icons {
  fill: #4d5ae5;
}

.form-modal-textarea {
  margin-bottom: 16px;
}

.form-modal-input-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-modal-input-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-conteiner {
  margin-bottom: 24px;
}

.checkbox {
}

.checkbox:checked + .checkbox-label .custom-checkbox-privacy-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.custom-checkbox-privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.modal-flex-pp {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-icons {
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.btn-modal-send {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .privacy-policy-link {
    margin-left: 3px;
  }
}

/* #endregion Section Modal ==================================================== */

/* #region MobMenu ==================================================== */

.container-mob-menu {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  overflow: scroll;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.container {
}
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon-mob {
}

.list-mob-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.item-mob-menu {
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-adr {
  font-style: normal;
  margin-top: 168px;
}
.mob-menu-adr-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.item-mob-menu-adr-list {
}
.item-mob-menu-adr-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-mob-menu-icons-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}
.social-mob-menu-icons-item {
  width: 40px;
  height: 40px;
}
.social-mob-menu-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mob-menu-icons {
  fill: #f4f4fd;
}

.mob-extra {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion MobMenu ==================================================== */
